html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

#map-id {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: auto;
    z-index: -1;
}

.tools  {
    position: fixed;
    z-index: 10;
    top: 20px;
}

#criteria-list {
    left: 20px;
}

#criteria-list a {
}

.dropdown-menu {
    min-width: 50px!important;
}

#search {
    left: 120px;
    width: 300px;
    padding-left: 40px;
    background-image: url('../fontawesome/svgs/solid/search-location.svg');
    background-position: 7px 7px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

#list-modes {
    left: 500px;
}

#log-in {
    right: 30px;
    padding-left: 40px;
    background-image: url('../fontawesome/svgs/solid/sign-in-alt.svg');
    background-position: 7px 7px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

#share {
    right: 200px;
}

.leaflet-popup-content-wrapper {
    min-width: 400px;
}

#popup {
width: 800px;
}

#popup h4 {
    display: inline;
}
